[Unit]
Description=EC2 instance hibernation setup agent
After=cloud-config.service
ConditionPathExists=/etc/hibinit-config.cfg
Documentation=file:/usr/share/doc/ec2-hibinit-agent/README

[Service]
ExecStart=/usr/bin/hibinit-agent -c /etc/hibinit-config.cfg
Type=forking

[Install]
WantedBy=multi-user.target
