[Unit]
Description=Mount unit for core, revision 9436
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_9436.snap
Where=/snap/core/9436
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
